@import "../../sass/variables";

.navbar-nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  list-style-type: none;
  li {
    font-size: 1rem;
  }
}

.nav-links {
  text-decoration: none;
  color: $secondaryColor;
  font-weight: bold;
  text-transform: uppercase;
}
.navs {
  display: flex;
  flex-direction: column;
  position: absolute;
 
}

.navBar {
  box-shadow: 1px 1px 5px $secondaryColor;
  border-right: 4px solid $primaryColor;
  color: black;
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: 2fr 3fr 3fr auto;
  width: 20em;
  // float: left;
  // left: 0;
  // top: 0;
  height: 100vh;

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: $primaryColor 2px solid;
    margin-bottom: 1em;
    // border-radius: 5px;
  }

  .user-container {
    display: flex;
    padding-left: 2em;
    border-bottom: $primaryColor 2px solid;
    p:hover {
      background: $primaryColor;
      border-radius: 12px;
      width: fit-content;
      padding: .5rem;
    }

    .nav-links:focus {
      color: black;
    }
  }
  .friends-container {
    display: flex;
    padding-left: 2em;
    border-radius: 12px;
    p:hover {
      background: $primaryColor;
      border-radius: 12px;
      width: fit-content;
      padding: .5rem;
    }
  }

  .logo-navbar {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: $secondaryColor;
    text-shadow: -1px -1px 0 $primaryColor, 1px -1px 0 $primaryColor,
      -1px 1px 0 $primaryColor, 1px 1px 0 $primaryColor;
  }

  .logout-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    // border: 1px solid black;
    .logoutbuttons {
      justify-content: "center";
      background: transparent;
      border: 2px solid $primaryColor;
      color: black;
      padding: 0.4rem 0.5rem;
      border-radius: 12px;
    }
    .logoutbuttons:hover {
      background: $primaryColor;
      color: white;
      cursor: pointer;
      border-radius: 12px;
    }
  }
}
