@import "../../sass/variables";

.froodielist {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 70%;
  height: auto;
  margin: auto;
  justify-content: center;
  position: relative;
}
